<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Canary</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!-- Add custom CSS here -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Canary</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Conductors</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Monitor</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    

    <div id="counts" class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>Total Jobs</h2>
                    <div data-bind="text: total_count" class="count_badge">0</div>
                </div>
                <div class="col-lg-4">
                    <h2>Active Jobs</h2>
                    <div data-bind="text: active_count" class="count_badge">0</div>
                </div>
                <div class="col-lg-4">
                    <h2>Pending Jobs</h2>
                    <div data-bind="text: pending_count" class="count_badge">0</div>
                </div>
            </div>
        </div>
    </div>

    <div id="data" class="content-section-b">
        <div class="container">
            <div class="row" data-bind="template: { foreach: jobs }">
                <div class="col-lg-12">
                    <table class="table" data-bind="template: { foreach: jobs }">
                       <tr>
                            <td data-bind="text: status"></td>
                            <td data-bind="text: _path"></td>
                            <td data-bind="text: _name"></td>
                        </tr>
                    </table>

                       
            </div>
        </div>
    </div>
    


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Rackspace 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

    <script>

        var data = [];   
        var pending_count = 0;
        var active_count = 0;
        var total_count = 0;

        var viewModel = {
            jobs: ko.observableArray(data),
            total_count: ko.observable(total_count),
            pending_count: ko.observable(pending_count),
            active_count: ko.observable(active_count)
        };


        var active_count = ko.computed(function() {
            var items = ko.utils.arrayFilter(viewModel.jobs, function(item) {
                 return item.status == "CLAIMED";
            });

            return items.length;
        });

        ko.applyBindings(viewModel);

        $(function () {
            get_jobs();
        });

        function get_jobs(){
            $.ajax({
                url: '/jobs?path=/taskflow/jobs/poppy_service_jobs',
                type: "GET",
                dataType: 'json',
                success: function (data) {


                    var totalitems = data[0].jobs.length

                    var activeitems = 0;
                    $.each(data[0].jobs, function(key, value) {
                        if (value.status === "CLAIMED")
                            activeitems = activeitems + 1;
                    });

                    var pendingitems = 0
                    $.each(data[0].jobs, function(key, value) {
                        if (value.status === "UNCLAIMED")
                            pendingitems = pendingitems + 1;
                    });

                    viewModel.jobs(data);
                    viewModel.total_count(totalitems);
                    viewModel.active_count(activeitems);
                    viewModel.pending_count(pendingitems);
                }
            });
        }

        

        setInterval(get_jobs, 3000);



    </script>

</body>

</html>
